.sidebar{
    height: 100vh;
    padding: 20px 10px;
    overflow: auto;
    background-color: var(--background-color);
    color: var(--color);
    font-size: 20px;
    

}
.sidebar svg{
    width: 30px;
    height: 30px;
    color: var(--color);
}
.newChat{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: grey;
    border-radius: 30px;
    margin: 10px 0px;
    cursor: pointer;
    font-size: 19px;
    transition: all 0.5s;


}
.newChat:hover{
    background-color: rgb(29, 27, 26);
}

.recent{
    display: flex;
    gap: 10px;
    padding: 0.7rem;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border-radius: 30px;
    cursor: pointer;
    font-size: 19px;
    transition: all 0.5s;
    /* margin-top: 0px; */
}
.recent:hover{
    background-color: rgb(29, 27, 26);
}
#ham{
    cursor: pointer;
    margin-left: 10px;
    padding: 4px;
    border-radius: 20px;
}
#ham:hover{
color: rgb(29, 27, 26);
  cursor: pointer;
  background-color: beige;
  transition: all 0.5s;
  
}
